<aside>
    <nav>
      <ul>
        <li><u>Table of Contents</u></li>
        <li><a href="/basic-syntax" class="contrast">Basic HTML Syntax</a></li>
        <li><a href="/html-tags" class="contrast">HTML Tags</a></li>
        <li><a href="/list" class="contrast">List</a></li>
        <li><a href="/table" class="contrast">Table</a></li>
        <li><a href="/form" class="contrast">Form</a></li>
        <li><a href="/audio" class="contrast">Audio</a></li>
        <li><a href="/video" class="contrast">Video</a></li>
      </ul>
    </nav>
  </aside>